<div class="jumbotron">
    <div class="col-sm-12 mx-auto">
        <h4>Was möchten Sie tun?</h4>
        <br/>
        <div class="row">
            <div class="col-sm-4">
                <%= link_to "Neue Kontaktperson erfassen", "#", class: "btn btn-primary btn-block" %>
            </div>
            <div class="col-sm-4">
                <%= link_to "Erfasste Kontaktpersonen anzeigen", "#", class: "btn btn-primary btn-block" %>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-4">
                <%= link_to "Neuen Indexpatienten erfassen", "#", class: "btn btn-primary btn-block" %>
            </div>
            <div class="col-sm-4">
                <%= link_to "Erfasste Indexpatienten anzeigen ", "#", class: "btn btn-primary btn-block" %>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-4">
                <%= link_to "Quarantäneverfügung generieren", "#", class: "btn btn-primary btn-block" %>
            </div>
            <div class="col-sm-4">
            </div>
        </div>

    </div>
</div>